aiohttp==3.8.1
aiosignal==1.3.1
annotated-types==0.6.0
ansi2html==1.8.0
anyio==4.3.0
appnope==0.1.3
asttokens==2.4.0
async-timeout==4.0.3
attrs==18.2.0
awsume==4.5.3
backcall==0.2.0
backoff==2.2.1
blinker==1.6.2
boto3==1.28.53
botocore==1.31.53
btcpay-rest-client==0.0.10
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.1.1
cleo==2.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.4
configparser==6.0.0
contourpy==1.1.1
crashtest==0.4.1
cryptography==42.0.5
cycler==0.11.0
dash==2.14.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-leaflet==1.0.11
dash-table==5.0.0
dataclasses-json==0.6.3
datasets==2.15.0
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.8
distro==1.9.0
dnspython==2.4.2
docutils==0.20.1
dotenv==0.0.5
duckdb==0.9.0
dulwich==0.21.7
dynamodb-json==1.3
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.19.1
filelock==3.13.1
Flask==2.0.2
# Editable install with no version control (flimmer==0.1.0)
-e /Users/litch/code/lightning-projects/flimmer
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.10.0
github==1.2.7
google-auth==2.23.4
googleapis-common-protos==1.56.4
gql==3.4.1
graphql-core==3.2.3
grpc-gateway-protoc-gen-openapiv2==0.1.0
grpcio==1.50.0
grpcio-tools==1.50.0
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.19.4
idna==3.7
importlib-metadata==6.8.0
installer==0.7.0
ipykernel==6.25.2
ipython==8.15.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
jsonrpcclient==4.0.3
jupyter_client==8.3.1
jupyter_core==5.3.1
jwt==1.3.1
keyring==24.2.0
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.0.350
langchain-community==0.0.3
langchain-core==0.1.0
langsmith==0.0.69
loguru==0.7.2
lz4==4.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
more-itertools==10.1.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.8
nh3==0.2.14
numexpr==2.8.8
numpy==1.26.0
oauthlib==3.2.2
openai==1.23.6
ordered-set==4.1.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
pdflatex==0.1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pinecone-client==2.2.4
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.18.0
pluggy==1.3.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
prompt-toolkit==3.0.39
protobuf==3.20.3
protobuf-to-dict==0.1.0
psutil==5.9.5
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
PyGithub==2.3.0
Pygments==2.16.1
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-bitcoinrpc==1.0
python-dateutil==2.8.2
python-dotenv==0.19.1
python-github==0.1.0.dev0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
rapidfuzz==3.6.1
readme-renderer==42.0
regex==2023.8.8
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3986==2.0.0
rich==13.6.0
rsa==4.9
s3transfer==0.6.2
shellingham==1.5.4
simplejson==3.19.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.23
stack-data==0.6.2
tenacity==8.2.3
tiktoken==0.5.1
tomli==2.0.1
tomlkit==0.12.3
tornado==6.3.3
tqdm==4.66.2
traitlets==5.10.0
trove-classifiers==2024.2.22
twine==4.0.2
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.2.1
virtualenv==20.25.1
wcwidth==0.2.6
websocket-client==1.6.4
Werkzeug==2.2.2
wordcloud==1.9.3
wrapt==1.16.0
xattr==0.10.1
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
